<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Captcha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Captcha</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="captcha" [src]="'data:image/png;base64,' + captcha.encodedImageTt"/>
      <ion-card-header>
        <ion-card-title>Captcha Details</ion-card-title>
        <ion-card-subtitle>{{ environment ? 'Production Mood' : 'Development Mood' }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
