<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="login" href="/tabs/login">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="graph-ql" href="/tabs/graph-ql">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>GraphQL</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="captcha" href="/tabs/captcha">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Captcha</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
